/* PLACEHOLDERS */
%flex {
    display: flex;
}

/* FONT-FAMILY   PLACEHOLDER */
%font-family {font-family: 'Source Sans Pro', sans-serif;}

/* COLORS */
$linegrey: #bdbdbd;
$transparentDivisor: rgba(255, 255, 255, 0.5);
$rosarose: #BF3566;
$bgcolor: transparent;
$linear-mask: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.47) 30%, rgba(33, 36, 36, 1) 80%);
$text-color: #fff;
$blank: #fff;
$dark-grey: #212121;
$soft-grey: #616161;
$space-grey: #E7E7E7;
$light-green: #90BC08;
