.primary-nav {
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  @mixin atMedium {
    padding-top: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 5px 8px;
    display: block;
    font-size: 1em;
    font-weight: normal;
  }
  ul {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 5%;
  }
  &--color {
    li {
      border-bottom: 2px solid $rosarose;
    }
    a {
      color: $rosarose;
    }
  }
}