.search-box {
    position: relative;
    legend,
    label,
    select {
        display: none;
    }
    .busca {
        border: 0;
    }
    .btn-buscar {
        background: transparent;
        color: transparent;
        width: 40px;
        height: 40px;
        border: 0;
    }
    &__icon {
        position: absolute;
        top: 9px;
        right: 20px;
    }
}