.section-title {
  display: flex;
  flex-direction: column;
  font-size: 2.62rem;
  font-weight: 300;
  text-align: center;
  color: $dark-grey;
  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    text-align: center;
    svg {
      width: 15rem;
    }
  }
}