.site-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 250px;
  font-family: 'Source Sans Pro', sans-serif;
  background: transparent;
  transition: all .5s ease-in-out;
  &--with-gradient {
    background: transparent;
    background: $linear-mask;
  }
  &__container {
    background: transparent;
    transition: all .5s ease-in-out;
    overflow: hidden;
  }
  &__container--color {
    background: $blank;
    transition: all .5s ease-in-out;
  }
  &__top {
    height: 53px;
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__bottom--margin-top {
    margin-top: 5px;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 47.5%;
    min-width: 59%;
    max-width: 100%;
  }
  &--border-bottom {
    border-bottom: 1.5px solid $transparentDivisor;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    min-width: 20%;
  }
  &__text {
    font-size: 1.05em;
    color: #fff;
  }
  &__text--light-grey {
    color: $soft-grey;
    fill: $soft-grey;
  }
  &__logo {
    img {
      max-width: 283px;
      max-height: auto;
      width: 279px;
      height: auto;
      transition: all .5s ease-in-out;
      &:nth-child(2) {
        display: none;
        transition: all .5s ease-in-out;
      }
    }
  }
  &__logo--color {
    img {
      &:nth-child(1) {
        display: none;
        transition: all .5s ease-in-out;
      }
      &:nth-child(2) {
        display: block;
        transition: all .5s ease-in-out;
      }
    }
  }
  &__selector {
    background: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color;
    height: 30px;
    border: 1px solid white;
    border-radius: 12px;
    appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    padding: 0px 25px 0px 10px;
    transition: all .5s ease-in-out;
    z-index: 4;
  }
  .selector__wrapper {
    position: relative;
  }
  &__selector--color {
    color: $soft-grey;
    border: 1px solid $soft-grey;
    transition: all .5s ease-in-out;
  }
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    right: 10px;
    top: 14px;
    transition: all .5s ease-in-out;
    z-index: -1;
    &--color {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $soft-grey;
      transition: all .5s ease-in-out;
      z-index: 3;
    }
  }
  &__selector-opt {
    padding: 26px;
  }
  &--is-expanded {}
  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }
  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $blank;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }
    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $blank;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $blank;
      transform-origin: 0% 100%;
      transition: transform .3s ease-out;
    }
    @mixin atMedium {
      display: none;
    }
  }
  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }
    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }
    &::after {
      transform: rotate(-45deg) scale(1.25) translateY(1px);
    }
  }
  &__menu-content {
    flex-basis: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cart-container {
    width: auto;
    overflow: hidden;
  }
  &__icon {
    margin-right: 10px;
    margin-top: 3px;
    #Capa_1 {
      width: 32px;
      height: 32px;
    }
    .st0 {
      fill: $blank;
    }
  }
  &__icon--light-grey {
    fill: $soft-grey;
    g {
      fill: $soft-grey;
    }
    path {
      fill: $soft-grey;
    }
    .st0 {
      fill: $soft-grey;
    }
  }
  &__icon--spaced {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
  &__counter-balloon {
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    border-radius: 5px;
    background: $rosarose;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      position: absolute;
      top: 5px;
      left: -5px;
      border-right: 5px solid $rosarose;
    }
  }
}