.site-footer {
  color: $soft-grey;
  background: $space-grey;
  font-size: .9em;
  img {
    max-width: 50%;
    height: auto;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
  }
  &__tlt {
    color: $dark-grey;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
  &__payment-options {
    ul {
      flex-direction: row;
      width: 180px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      display: inline-flex;
      align-items: center;
    }
  }
  .card-icons {
    border-radius: 10px;
    &--svg-card {
      width: 48px;
      height: auto;
    }
  }
  &__social {
    li{
      &:nth-child(3){
        svg {
          padding: 3px;
        }
      }
    }
    ul {
      flex-direction: row;
      width: 135px;
      flex-wrap: wrap;
    }
  }
}